langchain_core
langchain_community
langchain_chroma
langgraph
langchain_text_splitters
langchain_openai
langchain_google_genai==2.0.7
pydantic==2.9.2
fastapi
uvicorn
streamlit
stauth
streamlit_authenticator
httpx==0.27.2
mysqlclient
SQLAlchemy
mysql
mysql-connector
langserve
unicorn
pypdf
tqdm
rapidocr-onnxruntime
